//
   Created by Margaret on 3/8/2016.
extends base
block content

    h1 Currency Conversion Results
    // updated output paragraph with new vars from index.js
    p  #{amount} #{frCurrency} is equal to #{toConverted} #{destCurrency}
    p  #{errorMsg}
